@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #0ea5e9;
    --second-color: #f8fafc;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* Left Sidebar */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: var(--main-color);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    padding-left: 1vw;
    padding-top: 1vh;
}

.side-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    align-items: center;
}

.dashboard-icon {
    width: 60px;
    grid-column: 1 / 2;
    padding-bottom: 16px;
}

.header-text {
    color: var(--second-color);
    grid-column: 2 / 5;
    font-size: 2rem;
    padding-bottom: 16px;
}

.side-icon {
    width: 30px;
    grid-column: 1 / 2;
    justify-self: center;
}

.side-text {
    color: var(--second-color);
    grid-column: 2 / 5;
    margin: 0;
}

/* Top navbar */
.navbar {
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.profile-bar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.user-greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.propic.small {
    width: 60px;
}

.propic.large {
    width: 80px;
}

.content {
    grid-column: 2 / 6;
}

.announcements {
    grid-column: 6 / 7;
}

.trending {
    grid-column: 6 / 7;
}