@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-color: #0284c7;
    --second-color: #fafafa;
    --third-color: #e5e7eb;
    --band-color: #ca8a04;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

/* LEFT SIDEBAR */
.sidebar {
    background-color: var(--main-color);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    padding-left: 1vw;
    padding-top: 1vh;
}

.side-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    align-items: center;
}

.dashboard-icon {
    width: 60px;
    grid-column: 1 / 2;
    padding-bottom: 16px;
}

.header-text {
    color: var(--second-color);
    grid-column: 2 / 5;
    font-size: 2rem;
    padding-bottom: 16px;
}

.side-icon {
    width: 30px;
    grid-column: 1 / 2;
    justify-self: center;
}

.side-text {
    color: var(--second-color);
    grid-column: 2 / 5;
    margin: 0;
}

/* TOP NAVBAR */
.navbar {
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
    padding: 12px 50px;
    gap: 20px;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    gap: 20px;
}

.search-input {
    background-color: var(--third-color);
    border: none;
    width: 90%;
    height: 50px;
    border-radius: 40px;
}

.profile-bar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

.username {
    font-weight: bold;
    font-size: 1.5rem;
}

.user-greeting {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 20px;
}

.greeting {
    font-weight: bold;
    font-size: 1.2rem;
}

.greeting > p {
    font-size: 2rem;
    margin: 0;
}

.propic {
    border-radius: 50%;
}

.propic.large {
    width: 100px;
    height: 100px;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    display: flex;
    gap: 16px;
    justify-content: end;
}

.nav-button {
    background-color: var(--main-color);
    border: none;
    padding: 16px 30px;
    border-radius: 40px;
    color: var(--second-color);
    font-size: 1.2rem;
}

.propic.small {
    width: 60px;
    height: 60px;
}

/* MAIN CONTENT */
.content {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    background-color: var(--third-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
    padding: 20px;
}

.section-title {
    font-size: 1.5rem;
}

/* PROJECT SECTION */
.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-auto-rows: 20vh;
    gap: 40px;
}

.card {
    border-radius: 12px;
    background-color: var(--second-color);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
}

.card.project {
    border-left: 12px solid var(--band-color);
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 0;
    padding: 40px 25px;
}

.card.project > h3 {
    font-size: 1.2rem;
    margin: 0;
    grid-row: 1 / 2;
}

.card.project > p {
    font-size: 1.2rem;
    margin: 0;
    grid-row: 2 / 3;
}

.card-icons {
    grid-row: 3 / 4;
    align-self: end;
    justify-self: end;
    display: flex;
    gap: 25px;
}

/* ANNOUNCEMENTS SECTION */
.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.message:nth-child(2) {
    border-bottom: 2px solid var(--third-color);
    border-top: 2px solid var(--third-color);
}

/* TRENDING SECTION */
.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.user-info {
    display: flex;
    gap: 20px;
    align-items: center;
}